<div id="feature" class="container">
  <h3>Cart details</h3>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Product</th>
        <th class="text-right">Price</th>
        <th class="text-right">Qty</th>
        <th class="text-right">Total</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cartItem in cartItems">
        <th scope="row">{{$index + 1}}</th>
        <td>{{cartItem.bookName}}</td>
        <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> {{cartItem.price}}</td>
        <td class="text-right">{{cartItem.qty}}</td>
        <td class="text-right"><i class="fa fa-inr" aria-hidden="true"></i> {{cartItem.total}}</td>
        <td class="auto-center"><a href="" ng-click="removeCartItem($index)" style="color:black !important;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="col-sm-8 pull-right">
    <a class="btn btn-primary pull-right proceed" href="#/confirmation">Proceed to checkout  <i class="fa fa-level-down" aria-hidden="true"></i></a>
  </div>
  <div class="col-sm-4 bill pull-left">
    <hr>
    <div class="pull-left">
      <!-- <h6>SUBTOTAL :</h6>
      <br>
      <h6>GST :</h6>-->
      <br>
      <h6>
      Total :</h6>
    </div>
    <div class="pull-right">
      <!--<h6> $3000</h6>
      <br>
      <h6> 0.0</h6>-->
      <br>
      <h6> {{orderTotal}}</h6>
    </div>
  </div>
</div>