<div class="container">
<h1 class="text-success" style="font-family: verdana">Thank you for shopping with us. Your order has been placed. One of our customer care representatives will get in touch with you shortly</h1>
<img src="/public/images/thank.jpg" style="height: 340px !important;
    width: 390px !important;">
</div>