<div class = "container">
    <div class="col-sm-8" style="float:right; margin-top:100px;">
    <img src = "/public/images/bookstore.jpg"/ class="auto-center">
    </div>
    <div class="col-sm-7" style="float:right; margin-top:30px;">
    <a href="#/list" class="btn btn-primary">Browse Your Book <i class="fa fa-book" aria-hidden="true"></i></a>
    </div>
</div>