<div class = "container-fluid" id="bookdetail">
  <!--Card-->
  <div class="card col-sm-5 margin-right book">
    <!--Card image-->
    <img class="img-fluid auto-center book-details" src="{{Book.image_url}}" alt="Card image cap">
    <!--/.Card image-->
    <!--Card content-->
    <div class="card-block text-center">
      <!--Title-->
      <h4 class="card-title">{{Book.name}}</h4>
      <!--Text-->
      <p class="card-text">{{Book.description}}</p>
    </div>
    <!--/.Card content-->
  </div>
  <!--/.Card--> 
  <div class="col-sm-5 margin-right hero book">
    <div class="features clearfix wow fadeInUp hero animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;" id="hero">
      <h3>{{Book.name}}</h3>
      <blockquote>
        {{Book.description}}
        <cite class="text-left"> <span class="hero-cite-name">Written By: {{Book.author}} </span></cite>
        <cite class="text-left"> <span class="">  Price: <i class="fa fa-inr" aria-hidden="true"></i>{{Book.sale_price}} </span></cite>
        <cite class="text-left"> <span class=""> ISBN: {{Book.isbn}} </span></cite>
        <cite class="text-left"> <span class=""> Pages: {{Book.pages}} </span></cite>
        <cite class="text-left"> <span class=""> Quantity: <input type="number" ng-model="quantity" class="input-qty"> </span></cite>
        <a href="" class="btn btn-primary fa fa-cart-plus qty-btn" ng-click="addToCart(Book._id,Book.name,Book.sale_price)"> Add To Cart</a>
      </blockquote>
    </div>
  </div>
  <!--scripts loaded here-->
</div>