<div class="container-fluid" id="main">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
      <ul class="nav nav-pills nav-stacked" id="list">
        <li class="nav-item">&nbsp;
          <button type="button" class="btn btn-primary">Choose Category</button>    
        </li>
        <li ng-repeat="category in Categories"><a class="nav-link" style="color:black !important;" href="" ng-click="getBooksByCategory(category._id)">{{category.name}}</a></li>
      </ul>
    </div>
    <!--/col-->
    <div class="col-md-9 col-lg-10 main">
      <!--toggle sidebar button-->
      <!-- <p class="hidden-md-up">
        <button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i class="fa fa-chevron-left"></i> Menu</button>
        </p> -->
      <h3 class="display-5">
        Choose your book
      </h3>
      <!--/row-->
      <hr>
      <div ng-if="Books.length <= 0">No Books are available</div>
      <div ng-repeat="book in Books">
      <div ng-if="$index % 3 == 0" class="clearfix"></div>
      <!--Card-->
      <div class="card col-sm-3 margin-right height">
        <!--Card image-->
        <a href="#/detail?bookId={{book._id}}"><img class="" src="{{book.image_url}}" alt="Card image cap"></a>
        <br>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-block">
          <!--Title-->
          <h4 class="card-title text-center book-name">{{book.name}}</h4>
          <!--Text-->
          <p class="card-text book-name text-center"><i class="fa fa-inr" aria-hidden="true"></i> {{book.sale_price}}</p>
          <div class="row-book">
            <a href="" class="btn btn-primary fa fa-cart-plus" ng-click="addToCart(book._id,book.name,book.sale_price)"> Add To Cart</a>
            <a href="#/detail?bookId={{book._id}}" class="btn btn-primary fa fa-search"> View</a>
          </div>
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->    
      </div>    
    </div>
    <!--/main col-->
  </div>
</div>
